{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Создание пользователя</h1>

    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form._token) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.age) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password.password) }}
    {{ form_row(form.password.confirm) }}
    {{ form_row(form.userRoles) }}


    <div class="form-group address">
        {{ form_label(form.userAddresses) }}

        <div class="col-sm-10">
            <ul class="userAddresses" data-prototype="{{ form_widget(form.userAddresses.vars.prototype)|e }}">
                {% for userAddresses in form.userAddresses %}
                    <li>{{ form_row(userAddresses) }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>


    {{ form_row(form.submit) }}

    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
